@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    width: 90%;
}
.navbar{
    display: flex;
    justify-content:space-between;
    margin-top: 2rem;
    margin-left: 2rem;
}
.navbar .btn1{
    width: 150px;
    height: 40px;
    background-color: white;
    color: #ff36c9;
    border-radius: 20px;
    font-weight: 900;
    border-style:dashed;
    border-color: #ff36c9;
}